{% extends 'base.html.twig' %}
{% block title %} Closure Forums {% endblock %}
{% block body %}
    <div class="forums">          
        {% include 'includes/_forums_table.html.twig' %}
    </div>
{% endblock %}